@{
    ViewData["Title"] = "Top Page";
}

<head>
    <style>
        html {
            height: 80%;
        }

        body {
            font-family: Meiryo;
            height: 80%;
        }

        h1 {
            font-family: Meiryo;
        }

        .cover-heading {
            height: 100%;
        }

        .container-fluid {
            background-image: url("../img/bg.jpg");
            background-position: center center;
            background-repeat: no-repeat;
        }

        p {
            font-family: Meiryo;
            white-space: pre-line;
        }
    </style>
</head>

<body class="text-center">
    <div class="container-fluid d-flex h-100 p-3 flex-column">
        <main role="main" class="cover-heading">
            <h1 class="display-4 mt-5 text-white">Cafe Stay Home</h1>
            <p class="text-white-50 mb-5">〜Beat the Coronavirus〜</p>
            <p style="font-size:16px;" class="lead text-white-50">Cafe Stay Home の店主は、コロナウイルスによる自粛期間を過ごすうち、<br ¥>当たり前だった外食の趣深さをおうちで味わうことができないかと考えました。<br ¥>美味しいコーヒーやお食事とともに、まるでレストランにいるかのような感覚をお楽しみください。</p>
            <a href="/" class="btn btn-lg btn-secondary">もっと見る</a>
        </main>
    </div>
</body>


<footer class="border-top footer text-muted mt-3">
    <div class="container">
        &copy; 2020 - <a asp-area="" asp-controller="Home" asp-action="Index">Cafe From Home</a>
    </div>
</footer>

